@model IEnumerable<Assignment3.Models.TrackBaseViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Track list (@ViewContext.RouteData.GetRequiredString("action"))</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.ActionLink("All tracks", "Index") |
    @Html.ActionLink("Pop tracks", "Pop") |
    @Html.ActionLink("Jon Lord (Deep Purple) tracks", "DeepPurple") |
    @Html.ActionLink("Longest tracks", "Longest")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TrackId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlbumId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MediaTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenreId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Composer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Milliseconds)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bytes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TrackId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlbumId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MediaTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GenreId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Composer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Milliseconds)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bytes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.TrackId })
        </td>
    </tr>
}

</table>
